* {
    font-family: 'Alata', sans-serif;
}

body {
    display: flex;
    flex: 1;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FF2E00;
}

.title {
    font-size: 5em;
}

.piano {
    margin-top: 1em;
    display: flex;
}

.tecla {
    border: 1px solid black;
    box-sizing: border-box;
}

.preta {
    width: 2em;
    height: 9em;
    background-color: black;
    margin: 0 -1em 0 -1em;
    z-index: 2;
}

.branca {
    cursor: default;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 4em;
    height: 16em;
    background-color: white;
}

.branca-active, .branca:active {
    background-color: #c2c0c0;
}

.preta-active, .preta:active {
    background-color: #3d3d3d;
}

.botoes {
    margin-top: 2em;
}

.botao{
    width: 10em;
    height: 3em;
    border-radius: 8px;
    outline: none;
    background-color: #36558F;
    margin-bottom: 30vh;
}

.rodape {
    font-size: 0.85em;
    align-self: center;
}

.proibido-selecionar {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}